---
import TitlePage from '@/components/widgets/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getCategories } from '@/utils'

const categories = getCategories()
const title = 'カテゴリ一覧'
---

<BaseLayout
  title={title}
  description='このブログの記事は、4つのカテゴリに分類している。以下リンクから、各カテゴリの記事一覧を確認できる。すべての記事一覧を見る場合は、「ALL」を選択されたし。'
>
  <TitlePage title={title} />
  <div class='prose'>
    {
      categories &&
        categories.map((category) => (
          <ul>
            <li>
              <a
                href={`/category/${category.toLowerCase()}/1/`}
                class='text-xl text-black dark:text-white md:text-2xl'
              >
                {category}
              </a>
            </li>
          </ul>
        ))
    }
  </div>
</BaseLayout>
