@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-body;
  }
}

@layer components {
  .prose h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-zinc-800 dark:text-zinc-100 !important;
  }

  .prose h2 {
    @apply border-b-black border-b-4 border-double pb-2 dark:border-b-white indent-1;
  }

  .prose h3 {
    @apply border-b-black border-b-2 pb-1 dark:border-b-white indent-1;
  }

  .prose h4 {
    @apply border-b-black border-b pb-1 dark:border-b-white indent-1;
  }

  .prose img {
    @apply shadow rounded;
  }

  .prose hr {
    @apply border border-slate-300;
  }

  .prose ul {
    @apply mt-2 mr-0 mb-3 ml-4 p-0 leading-6;
  }

  .prose ul li {
    @apply list-none relative p-0 pl-5 xl:pl-6;
  }

  .prose ul li::before {
    @apply content-[''] absolute left-0 top-2 w-2 h-2 bg-slate-800 dark:bg-slate-400;
  }

  .prose ul li li {
    @apply before:content-none list-square pl-2;
  }

  .prose ol {
    @apply ml-2;
  }

  .prose ol li,
  .prose ol li li,
  .prose ul li,
  .prose ul li li {
    @apply leading-6;
  }

  .primary-btn {
    @apply bg-primary-700 text-white border-primary-700 dark:bg-primary-700 dark:border-primary-700 inline-flex items-center justify-center rounded-full border font-bold text-center text-lg leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:hover:bg-slate-800 dark:hover:border-slate-800 cursor-pointer;
  }

  .shadow {
    box-shadow: -5px 3px 8px 1px rgba(0, 0, 0, 0.12);
  }

  p:empty {
    display: none;
  }

  astro-breadcrumbs .c-breadcrumbs__link {
    @apply text-sm font-normal underline text-gray-600 dark:text-gray-200 min-h-6;
  }
}
