---
import { getPermalink } from '@/utils'

const today = new Date()
---

<footer
  class='mb-8 mt-8 flex h-32 w-full flex-col items-center justify-center border-t-2 text-base'
>
  <div class='my-4 flex gap-3 text-sm underline underline-offset-1 md:gap-6 md:text-base'>
    <span><a href={getPermalink('archive', 'page')}>投稿一覧</a></span>
    <span><a href={getPermalink('contact', 'page')}>問い合わせ</a></span>
    <span><a href={getPermalink('privacy-policy', 'page')}>ポリシー</a></span>
  </div>
  <div class='mb-8 text-xs md:text-sm'>
    &copy; {today.getFullYear()} neputa note. All rights reserved.
  </div>
</footer>
