---
import FormattedDate from '@/components/ui/FormattedDate'
import { datesAreOnSameDay } from '@/utils'

type Props = {
  pubDate: Date
  modDate?: Date | undefined
  readTime?: string
  classNames?: string
}

const { pubDate, modDate = undefined, readTime = undefined, classNames = undefined } = Astro.props
---

<div
  class:list={[
    'flex flex-wrap gap-x-1 text-opacity-50 items-center justify-center',
    classNames && classNames
  ]}
  style='font-size: 0.95rem;line-height: 1rem;'
>
  <p class='whitespace-nowrap'>初稿:<FormattedDate date={pubDate} /></p>
  {
    modDate && !datesAreOnSameDay(modDate, pubDate) && (
      <p class='whitespace-nowrap'>
        <>
          <span class='ml-1'>更新:</span>
          <FormattedDate date={modDate} />
        </>
      </p>
    )
  }
</div>
