---
import FormattedDate from '@/components/ui/FormattedDate'
import { datesAreOnSameDay } from '@/utils'

type Props = {
  pubDate: Date
  modDate?: Date | undefined
  readTime?: string
  classNames?: string
}

const { pubDate, modDate = undefined, readTime = undefined, classNames = undefined } = Astro.props
---

<div
  class:list={[
    'flex flex-wrap gap-x-1 gap-y-1 text-xs md:text-sm text-opacity-50 min-h-[2rem] md:min-h-[2.5rem] items-center justify-center',
    classNames && classNames
  ]}
>
  <p class='whitespace-nowrap'>初稿:<FormattedDate date={pubDate} /></p>
  {
    modDate && !datesAreOnSameDay(modDate, pubDate) && (
      <p class='whitespace-nowrap'>
        <>
          <span class='ml-1'>更新:</span>
          <FormattedDate date={modDate} />
        </>
      </p>
    )
  }
  <p class='whitespace-nowrap'>
    {readTime && '- ' + readTime + ' -'}
  </p>
</div>
