---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/widgets/TitlePage'
import { getTagsWithCounts } from '@/utils'
import { getPermalink } from '@/utils'

const tags = await getTagsWithCounts()
---

<BaseLayout
  title='Tags'
  description='このブログの記事は、「タグ」で分類している。各タグのカッコ内は、記事数を表している。以下リンクから、各タグの記事一覧を確認することができる。また、一つの記事に複数のタグが付与されることもある。'
>
  <TitlePage title='Tags' />
  <div class='flex flex-wrap justify-center gap-4'>
    {
      tags.map((tag) => (
        <a
          href={getPermalink(tag.name, 'tag')}
          class='mb-2 mr-2 inline-block rounded-full bg-gray-300 px-3  py-1 text-sm font-semibold text-gray-700 dark:bg-gray-700 dark:text-gray-300'
        >
          #{tag.name} ({tag.count})
        </a>
      ))
    }
  </div>
</BaseLayout>
