---
import ListCategories from '@/components/widgets/ListCategories'
import ListPosts from '@/components/widgets/ListPosts'
import Pagination from '@/components/widgets/Pagination'
import TitlePage from '@/components/widgets/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'

const MAX_POSTS = 6
const posts = await getPosts(MAX_POSTS)
---

<BaseLayout title='neputa note'>
  <TitlePage title='neputa note' />
  <ListCategories />

  <div>
    <ListPosts FirstBig={false} posts={posts} />
    <Pagination page={posts} />
  </div>
</BaseLayout>
