---
import { Image } from 'astro:assets'

const { title, src, alt, width, height } = Astro.props
---

<figure class='w-fit'>
  <div
    class='relative overflow-hidden bg-gray-200 dark:bg-gray-700 rounded'
    style={`aspect-ratio: ${width || 800}/${height || 600}`}
  >
    <Image
      src={src}
      alt={alt}
      format='webp'
      loading='lazy'
      width={width || 800}
      height={height || 600}
      class='w-full h-full object-cover'
      decoding='async'
    />
  </div>
  {
    /* eslint-disable astro/no-set-html-directive */
    title && (
      <figcaption class='mt-4 text-center text-sm text-gray-700 dark:text-gray-300 md:mt-2'>
        <Fragment set:html={title} />
      </figcaption>
    )
    /* eslint-enable astro/no-set-html-directive */
  }
</figure>
