---
import { getPermalink } from '@/utils'

export interface Props {
  tag: string
}
const { tag } = Astro.props
---

<a href={getPermalink(tag.toLowerCase(), 'tag')} aria-label={tag}>
  <span
    class='inline-flex w-fit rounded-sm bg-gray-300 p-2 text-sm text-gray-700 dark:bg-gray-700 dark:text-gray-300 min-h-[2.25rem] items-center justify-center whitespace-nowrap'
  >
    #{tag ?? 'Blog Tag'}
  </span>
</a>
